<%- include('partials/header.ejs') %>
<div class="wrapper">
<h2>Contact us at</h2>
<a href="#">Facebook</a>
<a href="#">Whatsapp</a>
<a href="#">LinkedIn</a>
<a href="#">Twitter</a>
</div>
<%- include('partials/footer.ejs') %>